[Unit]
Description=Read & parse w output command and send it to backend server
Requires=user-telemetry.service

[Timer]
EnvironmentFile=/etc/ssh-telemetry-agent/default.cfg
Unit=user-telemetry.service
OnCalendar=$TELEMETRY_INTERVAL

[Install]
WantedBy=timers.target