[Unit]
Description=Read & parse w output command and send it to backend server
Requires=user-telemetry.service

[Timer]
Unit=user-telemetry.service
OnCalendar=*-*-* *:*:5

[Install]
WantedBy=timers.target